<h1>Portfolio<h1>

<% @technologies.each do |technology| %>
  <a class="waves-effect waves-light btn main-color"> <%= technology.name %> </a>
<% end %>

  <% @projects.each do |project| %>
    <ul>
      <li> <%= link_to project.title, project, remote: true %> </li>
    </ul>
  <% end %>