<h1> Projects Show </h1>
<p>Title: <%= @project.title %></p>
<p>Description: <%= @project.description  %></p>
<% @project.project_technologies.each do |project_technology| %>
  <ul>
    <li> <%= project_technology.technology.name %>,  <%= project_technology.rating.rating %></li>
    <%  %>
  </ul>
<% end %>