html {
  font-family: 'Poppins', 'Roboto', GillSans, Calibri, Trebuchet, sans-serif;
}

.main-color {
  background-color: #FC7A7A;
}

.page-title {
  padding-top: 1.5cm;
  padding-bottom: 3cm;
}

.card {
  width: 400px;
}