<!DOCTYPE html>
<html>
  <head>
    <title>Portfoliosite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'styles', 'materialize', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'knockout-3.4.2' %>

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import Google Font Poppins-->
      <link href="https://fonts.googleapis.com/css?family=Poppins:300" rel="stylesheet">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
